.hero {
  width: 100%;
  height: 25rem;
  z-index: 0;
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro {
  position: absolute;
  top: 20%;
  right: 12%;
}

.intro h1 {
  color: #f6fef6;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .hero {
    height: 42rem;
  }
}
